.hero__sectionDark {
  position: relative;
  padding: 80px 0 50px;

  .hero__title,
  .hero__text,
  .hero__btn {
    color: #ced4da;
  }
}

.hero__section {
  position: relative;
  padding: 80px 0 50px;

  .hero__title,
  .hero__text,
  .hero__btn {
    color: #403d39;
  }
}

.hero__boxTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.hero__left {
  width: 100%;
  max-width: 40%;
}

.hero__title {
  margin: 0 0 12px;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero__text {
  margin: 0 0 24px;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
}

.hero__btn {
  display: block;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration: none;
}

.hero__image {
  display: block;
  width: 368px;
  height: 368px;
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  .hero__title {
    font-size: 24px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 16px;
  }
  .hero__image {
    width: 280px;
    height: 280px;
  }
}

@media only screen and (max-width: 650px) {
  .hero__title {
    font-size: 22px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 15px;
  }
  .hero__image {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (max-width: 596px) {
  .hero__section {
    .hero__title,
    .hero__text,
    .hero__btn {
      color: #ced4da;
    }
  }
  .hero__left {
    max-width: 100%;
    text-align: center;
  }
  .hero__title {
    font-size: 24px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__btn {
    font-size: 18px;
  }
  .hero__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
  }
}

@media only screen and (max-width: 415px) {
  .hero__left {
    margin: 40px auto;
    text-align: center;
  }
  .hero__title {
    font-size: 22px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 16px;
  }
}
