@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jeko";
  src: url("./fonts/Jeko-Black.woff2") format("woff2"),
    url("./fonts/Jeko-Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Jeko", "Arial", sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
}

.light {
  background-color: #fff;
}

.stop {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}